# Display Line Numbers
set linenumbers

# (tabs and spaces) instead of always at the edge of the screen
set atblanks

# Use auto-indentation.
set autoindent

# Backup files to the current filename plus a tilde
# set backup

## The directore to put unique backup files in.
# set backupdir ""

# Enabling Mouse Navigation
set mouse

# Enable Word Wrapping
set softwrap

# Setting Tab Size
set tabsize 4

# Automatically Converting Tabs to Spaces
set tabstospaces

# Don’t display the two help lines at the bottom of the screen.
# set nohelp

# Changing Color (white, black, red, blue, green, yellow, magenta, cyan; "bright" - stronger color)
set titlecolor brightwhite,blue
set statuscolor brightyellow,black
set keycolor brightred
set functioncolor brightwhite
set numbercolor cyan,black

## Syntax highlighting for nanorc files.

syntax nanorc "\.?nanorc$"
comment "#"

# Everything that does not get recolored is invalid
color brightred ".*"

# Keywords
color brightgreen "^[[:space:]]*(set|unset)[[:space:]]+(afterends|allow_insecure_backup|atblanks|autoindent|backup|boldtext|breaklonglines|casesensitive|constantshow|cutfromcursor|emptyline|historylog|indicator|jumpyscrolling|linenumbers|locking|magic|mouse|multibuffer|noconvert|nohelp|nonewlines|positionlog|preserve|quickblank|rawsequences|rebinddelete|regexp|saveonexit|showcursor|smarthome|softwrap|stateflags|suspendable|tabstospaces|trimblanks|unix|view|wordbounds|zap)\>"
color yellow "^[[:space:]]*set[[:space:]]+((error|function|key|number|scroller|selected|status|stripe|title)color)[[:space:]]+(bold,)?(italic,)?(bright|light)?(white|black|red|blue|green|yellow|magenta|cyan|normal|pink|purple|mauve|lagoon|mint|lime|peach|orange|latte)?(,(light)?(white|black|red|blue|green|yellow|magenta|cyan|normal|pink|purple|mauve|lagoon|mint|lime|peach|orange|latte))?\>"
color brightgreen "^[[:space:]]*set[[:space:]]+(backupdir|brackets|errorcolor|functioncolor|keycolor|matchbrackets|numbercolor|operatingdir|punct|quotestr|scrollercolor|selectedcolor|speller|statuscolor|stripecolor|titlecolor|whitespace|wordchars)[[:space:]]+"
color brightgreen "^[[:space:]]*set[[:space:]]+(fill[[:space:]]+-?[[:digit:]]+|(guidestripe|tabsize)[[:space:]]+[1-9][0-9]*)\>"
color brightgreen "^[[:space:]]*bind[[:space:]]+((\^([A-Za-z]|[]/@\^_`]|Space)|([Ss][Hh]-)?[Mm]-[A-Za-z]|[Mm]-([][!"#$%&'()*+,./0-9:;<=>?@\^_`{|}~-]|Space))|F([1-9]|1[0-9]|2[0-4])|Ins|Del)[[:space:]]+([a-z]+|".*")[[:space:]]+(main|help|search|replace(with)?|yesno|gotoline|writeout|insert|browser|whereisfile|gotodir|execute|spell|linter|all)([[:space:]]+#|[[:space:]]*$)"
color brightgreen "^[[:space:]]*unbind[[:space:]]+((\^([A-Za-z]|[]/@\^_`]|Space)|([Ss][Hh]-)?[Mm]-[A-Za-z]|[Mm]-([][!"#$%&'()*+,./0-9:;<=>?@\^_`{|}~-]|Space))|F([1-9]|1[0-9]|2[0-4])|Ins|Del)[[:space:]]+(all|main|search|replace(with)?|yesno|gotoline|writeout|insert|ext(ernal)?cmd|help|spell|linter|browser|whereisfile|gotodir)([[:space:]]+#|[[:space:]]*$)"
color brightgreen "^[[:space:]]*extendsyntax[[:space:]]+[[:alpha:]]+[[:space:]]+(i?color|header|magic|comment|formatter|linter|tabgives)[[:space:]]+.*"
color brightgreen "^[[:space:]]*(syntax[[:space:]]+[^[:blank:]]+|(formatter|linter)[[:space:]]+.+)"
color green "^[[:space:]]*((un)?(bind|set)|include|syntax|header|magic|comment|formatter|linter|tabgives|extendsyntax)\>"

# Strings
color brightmagenta "([[:space:]]|(start|end)=)".+"([[:space:]]|$)"

# Colors
color yellow "^[[:space:]]*i?color[[:space:]]*(bold,)?(italic,)?(bright|light)?(white|black|red|blue|green|yellow|magenta|cyan|normal|pink|purple|mauve|lagoon|mint|lime|peach|orange|latte)?(,(light)?(white|black|red|blue|green|yellow|magenta|cyan|normal|pink|purple|mauve|lagoon|mint|lime|peach|orange|latte))?\>"
color magenta "^[[:space:]]*i?color\>" "\<(start|end)="

# Comments
color brightblue "(^|[[:space:]]+)#.*"
color cyan "^[[:space:]]*##.*"

# Trailing whitespace
color ,green "[[:space:]]+$"


include "~/.nano/ada.nanorc"
include "~/.nano/apache2.nanorc"
include "~/.nano/apacheconf.nanorc"
include "~/.nano/arduino.nanorc"
include "~/.nano/asciidoc.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/autoconf.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/batch.nanorc"
include "~/.nano/c-file.nanorc"
include "~/.nano/changelog.nanorc"
include "~/.nano/changelogs.nanorc"
include "~/.nano/clike.nanorc"
include "~/.nano/clojure.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/coffeescript.nanorc"
include "~/.nano/colortest.nanorc"
include "~/.nano/config2.nanorc"
include "~/.nano/config3.nanorc"
include "~/.nano/configfiles.nanorc"
include "~/.nano/config.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/conky.nanorc"
include "~/.nano/creole.nanorc"
include "~/.nano/csharp.nanorc"
include "~/.nano/csh.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/csv.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/debian.nanorc"
include "~/.nano/default.nanorc"
include "~/.nano/desc.nanorc"
include "~/.nano/Dockerfile.nanorc"
include "~/.nano/dotemacs.nanorc"
include "~/.nano/dotenv.nanorc"
include "~/.nano/dot.nanorc"
include "~/.nano/dummy.nanorc"
include "~/.nano/ekghistory.nanorc"
include "~/.nano/elisp.nanorc"
include "~/.nano/elixir.nanorc"
include "~/.nano/email.nanorc"
include "~/.nano/erb.nanorc"
include "~/.nano/etc-hosts.nanorc"
include "~/.nano/etc-stuff.nanorc"
include "~/.nano/etcxml.nanorc"
include "~/.nano/fish.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/fsharp.nanorc"
include "~/.nano/gemini.nanorc"
include "~/.nano/genie.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/glsl.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/gophermap.nanorc"
include "~/.nano/gradle.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/guile.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/havp.nanorc"
include "~/.nano/hcl.nanorc"
include "~/.nano/html.j2.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/i3.nanorc"
include "~/.nano/ical.nanorc"
include "~/.nano/info.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/initng.nanorc"
include "~/.nano/initscript.nanorc"
include "~/.nano/inputrc.nanorc"
include "~/.nano/jade.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/keymap.nanorc"
include "~/.nano/kickstart.nanorc"
include "~/.nano/kotlin.nanorc"
include "~/.nano/ledger.nanorc"
include "~/.nano/lisp.nanorc"
include "~/.nano/log-stuff.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/m3u.nanorc"
include "~/.nano/maincf.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/mimetype.nanorc"
include "~/.nano/moonscript.nanorc"
include "~/.nano/mpdconf.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/named.nanorc"
include "~/.nano/nanohelp.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nftables.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/nmap.nanorc"
include "~/.nano/nscd.nanorc"
include "~/.nano/objc.nanorc"
include "~/.nano/ocaml.nanorc"
include "~/.nano/octave.nanorc"
include "~/.nano/others.nanorc"
include "~/.nano/paludis.nanorc"
include "~/.nano/passwd.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/peg.nanorc"
include "~/.nano/perl6.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php2.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/pkgbuild.nanorc"
include "~/.nano/pkg-config.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/postgresql.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/povray.nanorc"
include "~/.nano/powershell.nanorc"
include "~/.nano/privoxy.nanorc"
include "~/.nano/profile.nanorc"
include "~/.nano/prolog.nanorc"
include "~/.nano/properties.nanorc"
include "~/.nano/pug.nanorc"
include "~/.nano/puppet.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/rcfiles.nanorc"
include "~/.nano/rcfiles-new.nanorc"
include "~/.nano/rego.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/Rnw.nanorc"
include "~/.nano/rpmspec.nanorc"
include "~/.nano/rsync.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/rust.nanorc"
include "~/.nano/scala.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/shlike.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sieve.nanorc"
include "~/.nano/sls.nanorc"
include "~/.nano/softcam.nanorc"
include "~/.nano/sources_list.nanorc"
include "~/.nano/sparql.nanorc"
include "~/.nano/spec.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/svn.nanorc"
include "~/.nano/swift.nanorc"
include "~/.nano/systemd.nanorc"
include "~/.nano/tab.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/texinfo.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/toml.nanorc"
include "~/.nano/ts.nanorc"
include "~/.nano/twig.nanorc"
include "~/.nano/urls.nanorc"
include "~/.nano/vala.nanorc"
include "~/.nano/verilog.nanorc"
include "~/.nano/vhost.nanorc"
include "~/.nano/vi.nanorc"
include "~/.nano/x11basic.nanorc"
include "~/.nano/xdefaults.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/xorg.nanorc"
include "~/.nano/xresources.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/yum.nanorc"
include "~/.nano/zig.nanorc"
include "~/.nano/zsh.nanorc"
include "~/.nano/zshrc.nanorc"

#############################
