[Desktop Entry]
Icon=image-png
Name=20210520_204922.png
Type=Link
URL[$e]=file:$HOME/Pictures/20210520_204922.png
X-KDE-LastOpenedWith=org.kde.spectacle
