[Desktop Entry]
Icon=image-png
Name=20210518_132736.png
Type=Link
URL[$e]=file:$HOME/Pictures/20210518_132736.png
X-KDE-LastOpenedWith=org.kde.spectacle
