[Desktop Entry]
Icon=text-html
Name=qml-qtqml-qt.html
Type=Link
URL[$e]=https://doc.qt.io/qt-5/qml-qtqml-qt.html#formatDateTime-method
X-KDE-LastOpenedWith=firefox
