[Desktop Entry]
Icon=image-png
Name=Screenshot_20210517_074426.png
Type=Link
URL[$e]=file:$HOME/Pictures/Screenshot_20210517_074426.png
X-KDE-LastOpenedWith=org.kde.spectacle
