[org.gnome.settings-daemon.peripherals.keyboard]
remember-numlock-state=true

[org.gnome.gedit.preferences.encodings]
candidate-encodings="['UTF-8', 'WINDOWS-1251', 'KOI8-R', 'CURRENT', 'ISO-8859-15', 'UTF-16']"

[org.gnome.desktop.peripherals.mouse]
accel-profile='adaptive'

[org.gnome.desktop.sound]
allow-volume-above-100-percent=true

[org.gnome.desktop.calendar]
show-weekdate=true

[org.gnome.desktop.wm.preferences]
resize-with-right-button=true

[org.gnome.desktop.wm.preferences]
button-layout='appmenu:minimize,maximize,close'

[org.gnome.shell.overrides]
workspaces-only-on-primary=false

[org.gnome.nautilus.icon-view]
default-zoom-level='standard'

[org.gnome.nautilus.preferences]
executable-text-activation='ask'

[set org.gtk.Settings.FileChooser]
sort-directories-first=true

[org.gnome.nautilus.list-view]
use-tree-view=true