[user]
  email = laspavel@gmail.com
  name = laspavel

[core]
  editor = nano
  autocrlf=true
  pager = less -F -X

[init]
  defaultBranch = master
  
[http]
  sslVerify = false
    
[color]
  ui = auto
  interactive = auto
[color "branch"]
  current = yellow bold
  local   = green bold
  remote  = cyan bold
[color "diff"]
  meta       = yellow bold
  frag       = magenta bold
  old        = red bold
  new        = green bold
  whitespace = red reverse
[color "status"]
  added     = green bold
  changed   = yellow bold
  untracked = red bold    
    
[alias]
  today = log --since=midnight --color --graph --abbrev-commit --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
  yesterday = log --since yesterday --until=midnight --color --graph --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr' 
  l = log --until=midnight --color --graph --abbrev-commit --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
  s = status -s
  c = add --all && git commit -m
  ps = push 
  pl = pull 
  branches = branch -avv --list
  remotes  = remote -v
        
[help]
  autocorrect = 1
    
    
